.ds-list {
  &.mat-list-base .mat-list-item .mat-list-icon,
  &.mat-list-base .mat-list-option .mat-list-icon {
    width: 16px;
    height: 16px;
    margin-right: 12px;
    font-size: 16px;
    padding: 0;
    border-radius: 0;
    box-sizing: border-box;
  }

  &.mat-list-base .mat-list-item.mat-list-item-with-avatar,
  &.mat-list-base .mat-list-option.mat-list-item-with-avatar {
    height: 40px;
  }

  &.mat-list-base .mat-list-item .mat-list-item-content,
  &.mat-list-base .mat-list-option .mat-list-item-content {
    padding-left: 24px;
    padding-right: 16px;
    font-size: 14px;
  }

}
.ds-list--inversed {
  &.mat-list-base .mat-list-item .mat-list-icon,
  &.mat-list-base .mat-list-option .mat-list-icon {
    color: #fff;
    opacity: 0.5;
  }

  &.mat-list-base .mat-list-item .mat-list-item-content,
  &.mat-list-base .mat-list-option .mat-list-item-content {
    color: #fff;
  }
}
