.ds-menu-panel {
  border-radius: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 1px;

  &.mat-menu-panel {
    min-height: auto;
  }

  .mat-menu-item {
    padding-left: 24px;
    padding-right: 24px;
    height: 40px;
    line-height: 40px;
  }

  .mat-menu-item .mat-icon {
    margin-right: 12px;
  }

  .mat-divider {
    margin-left: 1px;
    margin-right: 1px;
  }

  .mat-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
  }

  .mat-menu-content {
    max-height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }
  }

}

.ds-menu-panel--dark {
  color: #fff;
  background: #465053;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.15);

  .mat-divider {
    background-color: #232829;
  }

  .mat-icon {
    color: #fff;
  }

  .mat-menu-item {
    color: #fff;
  }

  .mat-menu-content {
    &::-webkit-scrollbar-track {
      background-color: #465053;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #C7CED0;
      border-radius: 4px;
    }

  }

}
