:host {
  display: block;
}

.app-subheader__sub {
  height: var(--app-subheader-height);
  background-color: #5D6A6E;
}

.app-subheader__return-action {
  padding-left: 8px;
  padding-right: 8px;
}

.app-subheader__sub-return-icon {
  width: 14px;
  height: 14px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #C7CED0;
}

.app-subheader__subnav-title-container {
  width: var(--local-sidebar-width);
}

.app-subheader__sub-title {
  color: #C7CED0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}

.app-subheader__settings-action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.app-subheader__settings-action-icon {
  color: #fff;
}
