:host {
  display: block;
}

.ds-history__trigger-action {
  padding-left: 8px;
  padding-right: 8px;
}

.ds-history__trigger-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
