<div
  class="slds-grid slds-grid--align-center slds-grid--vertical-align-center user-menu__action"
>
  <button mat-icon-button [matMenuTriggerFor]="menu">SA</button>
  <mat-menu
    #menu="matMenu"
    class="ds-menu-panel ds-menu-panel--dark user-menu__panel"
  >
    <ng-template matMenuContent>
      <button mat-menu-item>Profile</button>
      <mat-divider></mat-divider>
      <div mat-menu-item disabled>
        <strong class="user-menu__project-settings-heading"
          >Project Settings</strong
        >
      </div>
      <button mat-menu-item>Hide Cost</button>
      <button mat-menu-item>Clone Project</button>
      <button mat-menu-item>Merge Project</button>
      <mat-divider></mat-divider>
      <button mat-menu-item>Admin Console</button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon svgIcon="log-out"></mat-icon>
        <span>Log out</span>
      </button>
    </ng-template>
  </mat-menu>
</div>
