:host {
  display: block;
}

.ds-app__sidenav {
  width: var(--global-sidenav-width);
  padding-top: var(--app-subheader-height);
  background-color: #465053;
}

.ds-app__drawer-container {
  height: calc(100vh - var(--app-header-height) - var(--app-subheader-height));
}

.ds-app__drawer {
  width: var(--global-drawer-width);
  background-color: #465053;
}
