<button
  mat-button
  type="button"
  [matMenuTriggerFor]="menu"
  class="ds-history__trigger-action"
>
  <div class="slds-grid slds-grid--vertical-align-center">
    <mat-icon class="slds-shrink-none" class="ds-history__trigger-icon">
      watch_later
    </mat-icon>
    <div class="ds-navigation__history-label">History</div>
  </div>
</button>

<mat-menu #menu="matMenu" class="ds-menu-panel ds-menu-panel--dark">
  <ng-template matMenuContent>
    <button mat-menu-item>
      <div class="slds-grid slds-grid--vertical-align-center">
        <mat-icon>layers</mat-icon>
        <div>Steve's Grand Home Project</div>
      </div>
    </button>
    <button mat-menu-item>
      <div class="slds-grid slds-grid--vertical-align-center">
        <mat-icon>layers</mat-icon>
        <div>Steve's Grand Home Project</div>
      </div>
    </button>
  </ng-template>
</mat-menu>
