:host {
  display: block;
}

.ds-subheader {
  height: var(--app-subheader-height);
  background-color: #5D6A6E;
}

.ds-subheader__return-action {
  padding-left: 8px;
  padding-right: 8px;
}

.ds-subheader__return-action-icon {
  width: 14px;
  height: 14px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #C7CED0;
}

.ds-subheader__title-container {
  width: var(--global-drawer-width);
}

.ds-subheader__title {
  color: #C7CED0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}

.ds-subheader__settings-action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.ds-subheader__settings-action-icon {
  color: #fff;
}
