.ds-drawer {}

.ds-drawer-content {

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #f9f9f9;
  }

  &::-webkit-scrollbar-thumb {
    background: #c7ced0;
    border-radius: 4px;
  }

  scrollbar-color: #c7ced0 #f9f9f9;

}
