.ds-tabs {

  .mat-tab-label {
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 400;
    opacity: 1;
    min-width: auto;
  }

  .mat-tab-nav-bar,
  .mat-tab-header {
    border-bottom: none;
  }

  &.mat-tab-group.mat-primary .mat-ink-bar,
  &.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #68A5E4;
    height: 4px;
  }

  .mat-tab-label-active {
    -webkit-text-stroke-width: 1px;
  }

}

.ds-tabs--inversed {
  .mat-tab-label {
    color: #fff;
  }
}
