<div
  #nav
  class="slds-grid slds-grid--align-spread slds-grid--vertical-align-center slds-no-space slds-p-left--medium slds-p-right--large ds-navigation__header"
>
  <!-- Logotype & History Menu & Page Title -->
  <div class="slds-grid slds-grid--vertical-align-center slds-no-space">
    <!-- Logotype  -->
    <button mat-button type="button" class="ds-navigation__logotype-action">
      <img
        src="assets/images/logotype.svg"
        alt="Design Schedule Logotype"
        class="slds-shrink-none ds-navigation__logotype"
      />
    </button>
    <!-- / Logotype  -->

    <!-- Global Sidebar Toggle -->
    <button
      type="button"
      mat-icon-button
      (click)="handleSidebarToggle()"
      class="slds-shrink-none ds-navigation__sidebar-toggle-action"
    >
      <mat-icon
        class="ds-navigation__sidebar-toggle-action-icon"
        svgIcon="toggle"
      ></mat-icon>
    </button>
    <!-- / Global Sidebar Toggle -->

    <!-- History Menu -->
    <div
      class="slds-shrink-none slds-grid slds-grid--align-center slds-grid--vertical-align-center slds-p-horizontal--large ds-navigation__history"
    >
      <ds-history></ds-history>
    </div>
    <!-- / History Menu -->

    <!-- Page Title -->
    <div
      class="slds-m-left--small slds-grid slds-grid--vertical-align-center slds-no-space"
    >
      <mat-icon svgIcon="project" class="slds-shrink-none"></mat-icon>
      <div class="slds-m-left--x-small slds-truncate ds-navigation__page-title">
        9890-Steve’s Grand Home Project
      </div>
    </div>
    <!-- / Page Title -->
  </div>
  <!-- Logotype & History Menu & Page Title -->

  <!-- User Menu -->
  <ds-user-menu class="slds-m-left--x-large"></ds-user-menu>
  <!-- / User Menu -->
</div>

<!-- Sub Navigation -->
<div
  class="slds-grid slds-grid--vertical-align-center slds-p-right--large slds-no-space ds-navigation__sub"
>
  <!-- Title -->
  <div class="slds-p-left--medium slds-grid slds-grid--vertical-align-center slds-no-space ds-navigation__subnav-title-container">
    <button type="button" mat-button (click)="handleBackAction()" class="ds-navigation__return-action">
      <div class="slds-grid slds-grid--vertical-align-center">
        <mat-icon
          class="slds-shrink-none ds-navigation__sub-return-icon"
          svgIcon="back"
        ></mat-icon>
        <div class="slds-truncate ds-navigation__sub-title">Projects</div>
      </div>
    </button>
  </div>
  <!-- / Title -->

  <!-- Tabs && Settings -->
  <div class="slds-m-left--small slds-grid slds-grid--align-spread slds-grid--vertical-align-center slds-no-space slds-grow">
    <!-- Tabs -->
    <div class="slds-shrink-none">
      <mat-tab-group class="ds-tabs ds-tabs--inversed">
        <mat-tab label="Summary"></mat-tab>
        <mat-tab label="Plans"></mat-tab>
        <mat-tab label="Schedules"></mat-tab>
      </mat-tab-group>
    </div>
    <!-- / Tabs -->

    <!-- Settings -->
    <button type="button" mat-icon-button class="ds-navigation__settings-action">
      <mat-icon
        svgIcon="settings"
        class="ds-navigation__settings-action-icon"
      ></mat-icon>
    </button>
    <!-- / Settings -->
  </div>
  <!-- / Tabs && Settings -->

</div>
<!-- / Sub Navigation -->

<!-- Sidebar -->
<mat-sidenav-container [hasBackdrop]="true">
  <mat-sidenav
    #sidenav
    mode="over"
    [opened]="isNavigationOpened"
    fixedInViewport
    [fixedTopGap]="fixedTopGap"
    class="ds-navigation__sidenav"
  >
    Sidenav
  </mat-sidenav>
</mat-sidenav-container>
<!-- / Sidebar -->
