/* You can add global styles to this file, and also import other style files */

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #F9F9F9;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

@import '~@angular/material/theming';

@include mat-core(mat-typography-config(
  $font-family: 'Open Sans',
));

@import '../node_modules/@salesforce-ux/design-system/assets/styles/salesforce-lightning-design-system.css';


:root {
  --global-sidebar-width: 224px;
  --local-sidebar-width: 336px;
}

@import './app/styles/material/menu.override.scss';
@import './app/styles/material/tabs.override.scss';
@import './app/styles/material/sidenav.override.scss';
@import './app/styles/material/list.override.scss';
