@import "./assets/styles/variables.scss";
@import "./assets/styles/slds.scss";
@import "./assets/styles/material/ds.scss";

html.ds {
  display: flex;
  flex-direction: column;
  min-width: var(--app-min-width);
  min-height: 100vh;
  background-color: #F9F9F9;

  body {
    margin: 0;
    font: 400 14px/20px 'Open Sans';
  }
}

@import "./assets/styles/material/index.scss";
