@import './assets/styles/variables.scss';

html {
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #F9F9F9;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}

li {
  margin-left: 0;
}

fieldset legend {
  font-weight: normal;
}

@import './assets/styles/slds.scss';
@import '~@angular/material/theming';

@include mat-core(mat-typography-config(
  $font-family: 'Open Sans',
));

@import './assets/styles/material/index.scss';
