:host {
  display: block;
}

.ds-navigation__list {
  .ds-navigation__favorites-item {
    height: 32px;
  }
}

.ds-navigation__section-heading {
  font-size: 14px;
  color: #c7ced0;
  text-transform: uppercase;
}

.ds-navigation__favorite-pages-information {
  height: 24px;
  color: #c7ced0;
  font-size: 12px;
}

.ds-navigation__favorite-icon {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 16px;
  width: 16px;
  font-size: 16px;
}
